#c-banner {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

#left-content {
    max-width: 710px;
    display: flex;
    flex-direction: column;
}

#left-content .title {
    font-family: 'Oxanium';
    font-size: 85px;
    line-height: 130px;
    color: #f5fbf2;
}

#left-content a {
    color: #FFCE4E;
}


#initial-banner #left-content .buttons {
    display: flex;
    gap: 48px;
    margin-top: 60px;
}

#initial-banner #left-content .buttons .btn-primary {
    background: #FFCE4E;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    padding: 24px 76px;
}


#initial-banner #left-content .buttons .btn-secondary {
    background: rgba(233, 215, 167, 0.1);
    font-weight: 600;
    font-size: 28px;
    color:  #FFFFFF;
    padding: 24px 76px;
    border: 1px solid #FFCE4E;
}

.rigth-content {
    max-width: 566px;
}

.rigth-content img {
    width: 100%;
}


 .advertising {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 203px 0;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 137px;
}

.c-feedbacks {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 103px;
    margin-top: 90px;
}

.c-feedbacks .feedback {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.c-feedbacks .feedback .number {
    font-family: 'Oxanium';
    font-size: 62px;
    font-weight: 700;
}

.c-feedbacks .feedback .text {
    font-size: 24px;
    color: #9B9E9A;
}

#right-content {
    width: 558px;
    background-image: url(/assets/highlight/highlight-image.png);
    display: flex;
    flex-direction: column;
}

.highlight-image {
    width: 512px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
    height: 98px;
    width: 512px;
}

.highlight-image h4 {
    font-family: Oxanium;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 22.5px;
    padding: 0px 54px 16px 39px;
}

.highlight-image p {
    padding: 18px 75px 7px 39px;
    font-family: Oxanium;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #E4DEE7;
}

.baseboard-image {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 558px;
    position: absolute;
    gap: 170px;
    top: 80%;
}

.baseboard-image h4 {
    font-family: 'Oxanium';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #16091B;
    padding: 33px 0px 0px 60px;
}

.baseboard-image p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #594D5E;
    padding: 0px 0px 38px 60px;
}

#btn-highlight {
    background: #FFCE4E;
    border: none;
    padding: 12px 56px 12px 56px;
    color: black;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 24px;
    margin-right: 39px;
}

#how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-works {
    padding-top: 100px;
    padding-bottom: 55px;
}

.title-works h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    color: #F5FBF2;
}

.phase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 110px 132px 174px 132px;
}

#phase-img {
    width: 86px;
    height: 86px;    
}

.phase div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phase p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #FFCE4E;
    padding-top: 15px;
}

.lines {
    width: 90px;
    height: 7px;
}


#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 117px 0;
    background: linear-gradient(179.78deg, #1C121F 9.98%, rgba(28, 18, 31, 0.21) 81.39%), url(../assets/section/background-subscribe.png);
    background-blend-mode: normal, color-dodge;
    background-size: cover;
}

.title-subscribe {
    padding-top: 80px;
}

.title-subscribe h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 130px;
    text-align: center;
    color: #F5FBF2;
}

.input-subscribe {
    display: flex;
    width: 680px;
    height: 96px;
    border: 1px solid #E7B226;
    gap: 24px;
}

.input-subscribe input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #A48EA9;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0 56px;
}

.input-subscribe button {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    width: 244px;
    height: 96px;
    border: none;
    background: #E7B226;
}