@media (max-width: 1340px) {
    #header {
        display: none;
    }

    #logo-responsive .c-img img {
        width: 48px;
        height: 48px;
    }
    
    #logo-responsive {
        display: block;
    }

    #menu-hamburger {
        display: block; 
    }
}

@media (max-width: 1138px) {
    #c-banner {
        flex-direction: column;
    }
    
    #left-content .title {
        font-size: 42px;
        line-height: 63px;
        text-align: center;
    }
    
    #initial-banner #left-content .buttons {
        margin-top: 56px;
        gap: 20px;
    }

    #initial-banner #left-content .buttons .btn-primary {
        font-size: 18px;
        padding: 16px 41px;
    }

    #initial-banner #left-content .buttons .btn-secondary {
        font-size: 18px;
        padding: 16px 41px;
    }
    
    #right-content {
        margin-top: 50px;
        width: 282px;
        height: 300px;
    }

    .baseboard-image {
        width: 282px;
        height: 82px;
    }

    .c-feedbacks {
        gap: 39px;
    }

    .c-feedbacks .feedback .number {
        font-family: 'Oxanium';
        font-size: 36px;
    }

    .c-feedbacks .feedback .text {
        font-size: 16px;
    }

    .advertising img {
        width: 95px;
        height: 21px;
    }

    .phase {
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }

    .lines {
        transform: rotate(90deg);
    }

    .title-works h1 {
        font-size: 36px;
        line-height: 45px;
    }

    .title-subscribe h1 {
        font-size: 36px;
        line-height: 45px;
    }

    #subscribe .input-subscribe {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        border: none;
    }

    .input-subscribe input {
        padding: 20px 32px;
        margin-top: 80px;
        border: 1px solid #E7B226;
        height: auto;
    }

    .input-subscribe button {
        font-size: 24px;
        line-height: 35px;
        width: auto;
        height: auto;
        padding: 15px 35px;
    }
}

/* FOOTER MEDIA QUERY */

@media (max-width: 1138px) {
    footer {
        padding: 57px 16px 11px;
        flex-wrap: wrap;
    }
    
    footer .nav-footer {
        flex-direction: column;
        align-items: center;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: center;
        margin-bottom: 44px;
    }

    .container-footer > img {
        width: 112px;
        height: 112px;
    }

    .redes-sociais {
        justify-content: center;
        
    }

    #btn-view-all {
        font-size: 18px;
        padding: 13px 50px;
    }

    .top-creators {
        background-image: url("../assets/Pattern.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }

    .creators-titulo {
        align-self: center;
        font-size: 28px;
        line-height: 60px; 
        margin: 75px auto;
    }

    .creators-titulo::before {
        width: 70px;
        height: 70px;
    }

    .creators-conteudo {
        gap: 48px;
        margin: 0;
        width: 100%;
    }

    .creator-profile {
        padding: 20px 0;
        max-width: 100%;
        height: auto;
        margin: 0 16px;
    }

    .creator-profile > div > img {
        margin-left: 12px;
    }

    .creator-profile > div > div >h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .creator-profile > div > div > p {
        font-size: 20px;
        line-height: 35px;
    }

    .creator-profile > div >h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .creator-profile > div > p {
        font-size: 18px;
        line-height: 35px;
    }
}

@media (max-width: 480px){
    #btn-place {
        top: 50%;
        left: 10%;
        padding: 10px 25px;
    }

    .creator-profile > div > img {
        width: 80px;
        height: 80px;
    }

    .creator-profile > div:last-child {
        padding:  5px 25px;
    }

    .creator-profile > div > div >h2 {
        font-size: 20px;
        line-height: 35px;
    }

    .creator-profile > div > div > p {
        font-size: 15px;
        line-height: 35px;
    }

    .creator-profile > div >h2 {
        font-size: 20px;
        line-height: 35px;
    }

    .creator-profile > div > p {
        font-size: 16px;
        line-height: 35px;
    }
}